---
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignConsecutiveMacros: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakAfterDefinitionReturnType: All
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBinaryOperators: 'true'
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: 'true'
ColumnLimit: 120

...
